<div class="top-box"></div>
  <div class="about_us">
      <div class="mission sections clearfix">
        <p class="headline">ABOUT US</p>
        <!-- <h2 class="under_head">It is discount platform but also trending item platform.</h2> -->
        <!-- <div class="left">
          <p><span>#1</span> "Oh,igottabuythis"is the curation platform to discover awesome products from around the world. Staying up to date with the latest tech, the newest brilliant inventions, odd gadgets unique & weird design products.</p>
        </div> -->
        <div class="whatis">
          <p><span>Hotdeal-Ful</span> is the deal information platform to find thousands of Amazon best deals, coupon codes, promotions you love. Easy to keep up to date with the latest information of deals.<!-- promotion codes, coupons, sales and so on. <br />We are going to update more information of other online stores!! Coming Soon  :D --></p>
        </div>
        <!-- <div class="right">
          <p><span>#2</span> "Hotdeal-Ful" contains affiliate links, which means that if you click on one of the product links, we’ll receive a small commission. This helps support us and allows us sto continue to find and share good prodcuts and deals. Thank you for the support!</p>
        </div> -->


      <!--  <h2>Our Mission</h2>
       <p><span>#1</span> "Oh,igottabuythis"is the curation platform to discover awesome products from around the world. Staying up to date with the latest tech, the newest brilliant inventions, odd gadgets unique & weird design products.
       </p>
       <p><span>#2</span> "Oh,igottabuythis" is the deal information platform to find thousands of Amazon best deals, coupon codes, promotions you love. Easy to keep up to date with the latest information of promotion codes, coupons, sales and so on. <br />We are going to update more information of other online stores!! Coming Soon  :D</p> -->
      </div>

     <!--  <div class="works sections clearfix">
        <p class="bodyline">HOW DOES IT WORK</p>

        <div class="left works_box">
          <h3>Discover & Curated</h3>
          <p>We have discovered trending items form all around the world.</p>
          <p>We have picked the best deals on Amazon.</p>
        </div>

        <div class="middle works_box">
          <h3>Sharing</h3>
          <p>We Discover the best deals and trending items</p>
        </div>

        <div class="right works_box">
          <h3>Win-Win</h3>
          <p>We Discover the best deals and trending items</p>
        </div>

      </div> -->

      <!--  <div class="support">
          <p>"Oh,igottabuythis" contains affiliate links, which means that if you click on one of the product links, we’ll receive a small commission. This helps support us and allows us sto continue to find and share good prodcuts and deals. Thank you for the support!</p>
        </div> -->


      <div class="qna sections clearfix">
       <p class="bodyline">Q & A</p>
       <h3># What this website is?</h3>
       <p>It is discount platform.<br />We just make your life easier. We offer a quick way to find the coolest items and the best deals and you'll find what you're looking for at a great price.</p>
       <h3># Do you actually sell products on this website?</h3>
       <p>We do not sell any of the products here. We are simply linking to products you can find in other online stores like Amazon <!--  Aliexpress, Walmart, Kickstarter, Indiegogo, --> etc… and we do not ship anything ourselves. We cannot assist you with your purchase orders.</p>
       <!-- <p>Please remember that we are not an actual webstore. We do not sell anything ourselves, and we do not ship anything ourselves. We cannot assist you with your purchase orders, and we do not know if a product can be shipped internationally.</p> -->
       <h3># The product you're linking to is no longer available, or the link is broken?</h3>
       <p>Sometimes products will run out of stock or completely be removed from the websites. If you find something like that, please let us know which item it is, so we can update it. We would be much obliged.</p>
       <!-- <a href="/messages/new">Contact Us</a> -->
       <p class="email">ohigottabuythis@gmail.com</p>
      </div>

      <div class="qna sections mission clearfix">
       <p class="bodyline">Notice</p>
       <p><span>#1</span> "Hotdeal-Ful" is a participant in the Amazon Services LLC Associates Program & the Amazon EU Associates Programme, an affiliate advertising program designed to provide a means for us to earn fees by linking to Amazon.com, Amazon.ca, Amazon.co.uk and affiliated sites.</p>
       <p><span>#2</span>  "Hotdeal-Ful" contains affiliate links, which means that if you click on one of the product links, we’ll receive a small commission. This helps support us and allows us sto continue to find and share good prodcuts and deals. Thank you for the support!</p>
      </div>

<!--       <div class="bottom sections clearfix">
        <h2>Notes</h2>
        <p>"Oh,igottabuythis" acknowledge some content in this process, the aim is to provide for the convenience to the user. By specifying the source, we respect other people`s rights, as well as to provide support for those who own the contents. Please let us know if your writing has been copied in a way that infringes on copyright infringement, and we will try to work hard to resolve this issue.</p>
  
      </div> -->

  </div>

<div class="back_btn_mobile">
  <a href="/"><img class="back_btn_m" src="<%=asset_path 'back_btn.png' %>" alt="Go bact to home" /></a>
</div>