<div class="category-pc clearfix" data-turbolinks="false">
  <ul>
    <li><a href="/">Everything</a></li>
    <li><a href="/promocodes/hashtag/electronics">Electronics,</a></li>
    <li><a href="/promocodes/hashtag/home">Home,</a></li>
    <li><a href="/promocodes/hashtag/kitchen">Kitchen,</a></li>
    <li><a href="/promocodes/hashtag/fashion">Fashion,</a></li>
    <!-- <li><a href="/promocodes/hashtag/beauty">Beauty,</a></li> -->
    <!-- <li><a href="/promocodes/hashtag/health">Health,</a></li> -->
    <li><a href="/promocodes/hashtag/outdoor">Outdoor,</a></li>
    <li><a href="/promocodes/hashtag/pet_supplies">Pet Supplies</a></li>
    
  </ul>
</div>



<div class="category-mobile clearfix data-turbolinks="false"">
  <nav>
    <ul class="left">
      <li><a href="/">Everything</a></li>
      <li><a href="/promocodes/hashtag/electronics">Electronics,</a></li>
      <li><a href="/promocodes/hashtag/home">Home,</a></li>
      <li><a href="/promocodes/hashtag/kitchen">Kitchen,</a></li>
      <li><a href="/promocodes/hashtag/fashion">Fashion,</a></li>
      <!-- <li><a href="/promocodes/hashtag/beauty">Beauty,</a></li> -->
      <!-- <li><a href="/promocodes/hashtag/health">Health,</a></li> -->
      <li><a href="/promocodes/hashtag/outdoor">Outdoor,</a></li>
      <li><a href="/promocodes/hashtag/pet_supplies">Pet Supplies</a></li>
    </ul>
    <ul class="right">
      <!-- <li><a href="/bridge/more_sale">+ More</a></li> -->
    </ul>
  </nav>
</div>


<script type="text/javascript">
  $(window).scroll(function (e) {
    let nav = $('nav');
    let scrolled = $(window).scrollTop();
    if (scrolled > 70) {
      nav.addClass('fixed');
    } else {
      nav.removeClass('fixed');
    }
  });
</script>