<div class="categories for_pc clearfix">
  <ul>
    <li><a href="/promocodes/hashtag/electronics">Electronics</a></li>
    <li><a href="/promocodes/hashtag/home">Home</a></li>
    <li><a href="/promocodes/hashtag/kitchen">Kitchen</a></li>
    <li><a href="/promocodes/hashtag/fashion">Fashion</a></li>
    <li><a href="/promocodes/hashtag/health">Health</a></li>
    <li><a href="/promocodes/hashtag/hashtag">hashtag</a></li>
    <li><a href="/promocodes/hashtag/hashtag">hashtag</a></li>
    <li><a href="/promocodes/hashtag/hashtag">hashtag</a></li>
    <li><a href="/promocodes/hashtag/hashtag">hashtag</a></li>
  </ul>
</div>


<div class="category-mobile clearfix">
  <ul class="left">
    <li><a href="/promocodes/hashtag/electronics">Electronics</a></li>
    <li><a href="/promocodes/hashtag/home">Home</a></li>
    <li><a href="/promocodes/hashtag/kitchen">Kitchen</a></li>
    <li><a href="/promocodes/hashtag/fashion">Fashion</a></li>
    <li><a href="/promocodes/hashtag/health">Health</a></li>
    <li><a href="/promocodes/hashtag/hashtag">hashtag</a></li>
    <li><a href="/promocodes/hashtag/hashtag">hashtag</a></li>
    <li><a href="/promocodes/hashtag/hashtag">hashtag</a></li>
    <li><a href="/promocodes/hashtag/hashtag">hashtag</a></li>
  </ul>
  <ul class="right">
    <li><a href="/bridge/more_sale">+ More</a></li>
  </ul>
</div>
