<div class="find-coupon clearfix">

  <div class="couponbox-left">
    <p>FIND COUPON AT AMAZON</p>
    <span>√ Look for coupons before paying.</span>
    <span>√ Save your money with coupons.</span>
    <span>√ If you want to search in more detail, click "Search Detail".</span>
  </div>  


  <div class="couponbox-right">
    <div class="find-keyword">
      <div class="keyword_box clearfix">
        <input type="text" class="keyword" placeholder="Search coupon here" value="">
      </div>
    </div>
    
    <div class="index-coupon">
      <div class="option_box">  
        <div class="on_off clearfix">
          <input id="coupon" name="coupon-type" type="radio" value="2231352011" checked>
          <label for="coupon">ON</label>
        </div>
      </div>
    </div>

    <div class="find-btn">
      <button class="search findcoupon btn-comm">Find Coupons</button>
      <a href="/bridge/search" class="detailsearch btn-comm" href="/bridge/search">Search Detail</a>
    </div>
  </div>
  
</div>
<script type="text/javascript">
  //Search on Amazon[quick search]//
  function isMobile(){
  var UserAgent = navigator.userAgent;

  if (UserAgent.match(/iPhone|iPod|Android|Windows CE|BlackBerry|Symbian|Windows Phone|webOS|Opera Mini|Opera Mobi|POLARIS|IEMobile|lgtelecom|nokia|SonyEricsson/i) != null || UserAgent.match(/LG|SAMSUNG|Samsung/) != null)
    {
      return true;
    }else{
      return false;
    }
  }

  if(isMobile()){
      //For Mobile
      $(document).ready(function(){
      var rootURL = "https://www.amazon.com/s?i=aps";

      $("select[name='time']").change(function(){
        if ( $(this).val() === "custom" ){
          $(".custom-time").removeClass("disable");
        } else {
          $(".custom-time").addClass("disable");
        }
      });
      
      $(".search").on("click", function(){
        var couponType = $("input:radio[name='coupon-type']:checked").val();
        var keyWord = $(".keyword").val();
        
        var key  = (keyWord === "") ? "" : "&field-keywords=" + keyWord;
        var coupon = (couponType === "") ? "" : "&srs=" + couponType;
        
        var query = rootURL + key + coupon + "&tag=oigbt-20";
        window.open(query, '_blank');
        
      });
    });


  }else{

      //For PC
      $(document).ready(function(){
      var rootURL = "https://www.amazon.com/s?k=";

      $("select[name='time']").change(function(){
        if ( $(this).val() === "custom" ){
          $(".custom-time").removeClass("disable");
        } else {
          $(".custom-time").addClass("disable");
        }
      });
      
      $(".search").on("click", function(){
        var couponType = $("input:radio[name='coupon-type']:checked").val();
        var keyWord = $(".keyword").val();
        
        var key  = (keyWord === "") ? "" : keyWord;
        
        var coupon = (couponType === "") ? "" : "&srs=" + couponType;        
        var query = rootURL + key + coupon + "&tag=oigbt-20";

        window.open(query, '_blank');
        
      });
    });

  }
  //End//

</script>






