.marketing-wrapping{margin-top:10px;}
.marketing-wrapping .fb-group{float:left;width:48%;margin-right:2%;}
.marketing-wrapping .kor-site{float:left;width:48%;margin-left:2%;}
.marketing-wrapping .marketing-box{margin-bottom:15px;}