/* Index Pgae */
.top-box{background:#68d391;height:15px;}
.index-wrap{margin-top:10px;}
.index-amdin{float:right;}
.index-amdin a{background:#68d391;color:#fff;padding:5px;}
.index-amdin p{margin-bottom:5px;display:inline-block;}
.product-border{}
.visual{margin-bottom:30px;}
.visual h1{font-size:35px;font-weight:900;margin-top:-10px;}
.visual .search-index{margin-bottom:10px;}
.visual .search-index input{padding:10px;width:40%;border-radius:20px;}
.visual .search-index input::placeholder{color:#ccc;}
.pick-hash{}
.pick-hash a{font-size:17px;padding:5px;color:#68d391;}
.product-border .card{float:left;width:23%;height:300px;margin:1% 1% 3% 1%;position:relative;box-shadow:0 0 5px rgba(0,0,0,0.15);border-radius:20px;}
.product-border .card .pct{position:absolute;bottom:70px;left:10px;color:#fff;border-radius:10px;background:#68d391;}
.product-border .card .pct p{width:70px;height:20px;display:table-cell;vertical-align:middle;text-align:center;padding:5px;}
.product-border .card .view{position:absolute;bottom:70px;left:90px;color:#fff;border-radius:10px;background:#68d391;padding:5px;font-size:11px;}
.product-border .card .delete{position:absolute;bottom:70px;left:135px;color:#fff;border-radius:10px;background:#68d391;padding:5px;font-size:11px;;}
.product-border .card .delete a{color:#fff;}
.product-border .card .image-box{width:270px;height:200px;position:relative;}
.product-border .card .image-box img{width:80%;height:80%;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);object-fit:contain;} 
.product-border .inner{padding:10px 15px;margin-top:25px;}
.product-border .inner p{font-size:13px;}
.product-border .inner span.list_price{color:#ccc;text-decoration:line-through;}
.product-border .inner span.current_price{font-size:20px;font-weight:600;color:#68d391;}

@media screen and (max-width:640px){
  .index-wrap .wrap{margin:1%;}
  .product-border .card{width:48%;}  
  .product-border .card .image-box{width:100%;margin:0;}
  .product-border .card .image-box img{width:70%;height:70%;}
  .visual .search-index input{padding:10px;width:100%;}
  .pick-hash{margin:0 1% 20px 1%;}
  .pick-hash a{font-size:13px;padding:3px;}

}

@media screen and (min-width:641px) and (max-width:1199px){
  .product-border .card{width:31.3%;}  
  .product-border .card .image-box{width:100%;margin:0;}
  .product-border .card .image-box img{width:70%;height:70%;}
  .visual .search-index input{padding:10px;width:100%;}
}


/* Show Page*/
.container{width:800px;margin:100px auto 0 auto;box-shadow:0 0 20px 0 rgba(0,0,0,.06);;border-radius:20px;padding:20px;} 
.show-wrap .related{width:800px;margin:0 auto;}
.show-wrap .container .go_back{display:none;}
.show-wrap .image-box{float:left;width:45%;margin-right:5%;position:relative;height:350px;}
.show-wrap .image-box img{width:70%;height:70%;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);object-fit:contain;} 
.show-wrap .summary_title{margin-top:2em;float:left;width:50%;}
.show-wrap .receipt{float:left;width:50%;height:150px;display:grid;grid-template-columns:2fr 1fr;}
.show-wrap .receipt__grid1 p span{font-size:12px;}
.show-wrap .receipt__grid2{text-align:right;}
.show-wrap .receipt__grid2 p em{color:#fff}
.show-wrap .receipt__grid2 p.p-code{font-weight:800;}
.show-wrap .total_price{font-size:20px;color:#68d391;font-weight:600;}
.show-wrap .total_text{font-size:20px;}
.show-wrap .btn{float:right;width:50%;text-align:center;}
.show-wrap .btn a.amz_btn{background:#000;color:#fff;display:block;padding:10px;font-size:15px;}
.show-wrap .title{float:left;width:50%;}
.show-wrap .title h2{font-size:17px;font-weight:300;}
.show-wrap .admin{text-align:left;}
.show-wrap button, .macro-btn .facebook span{background:#68d391;color:#fff;padding:5px;font-size:13px;}
.show-wrap .macro-btn a.back-btn{background:#68d391;color:#fff;padding:5px;font-size:13px;color:#fff;display:inline-block;}
.show-wrap .sharing{width:45%;padding:10px;font-size:10px;}
/*.show-wrap .sharing p{}*/
.show-wrap .sharing span{display:block;}
/*.show-wrap .sharing p.was_price{}
.show-wrap .sharing span.is_price{}*/



.show_notice{float:left;width:50%;}
.accordion-item{position:relative;}
.accordion-item.active .heading{color: #8da98c;}
.accordion-item.active .icon {background: #fefefe;}
.accordion-item.active .icon:before {background: #8da98c;}
.accordion-item.active .icon:after {width:0;}
.accordion-item .heading{font-size:14px;display:block;text-transform:uppercase;text-decoration:none;color:#4d694d;font-weight:700;position:relative;padding:1rem 2rem;transition:0.3s ease-in-out;}
.accordion-item .heading:hover{color:#8da98c;}
.accordion-item .heading:hover .icon:before, .accordion-item .heading:hover .icon:after{background: #8da98c;}
.accordion-item .icon {display:block;position:absolute;top:50%;left:0;width:1rem;height:1rem;border:2px solid #fefefe;border-radius:3px;transform:translateY(-50%);}
.accordion-item .icon:before, .accordion-item .icon:after{content:"";width:1.25rem;height:0.25rem;background:#4d694d;position:absolute;border-radius:3px;left:50%;top:50%;transition:0.3s ease-in-out;transform:translate(-50%, -50%);}
.accordion-item .icon:after{transform:translate(-50%, -50%) rotate(90deg);z-index:-1;}
.accordion-item .content{display:none;}
.accordion-item .content p{margin-top:0;}
@media (min-width: 40rem){
  .accordion-item .content{line-height: 1.75;}
}

@media screen and (max-width:640px){
  .show-header{display:none;}
  .show-wrap .wrap{margin:0;}
  .show-wrap .container{position:relative;margin:auto auto 30px auto;overflow:hidden;width:100%;height:auto;/*box-shadow: 5px 5px 20px rgba(17, 17, 31, 0.3);*/}
  .show-wrap .container .go_back{display:block;width:40px;height:40px;opacity:0.1;margin:1em 0 0 1.5em;}
  .show-wrap .image-box{width:100%;height:300px;margin:0;}
  .show-wrap .image-box img{width:75%;height:75%;}
  .show-wrap .summary_title{margin:0.5em 3em -2.5em 1.2em;float:none;}
  .show-wrap .receipt{float:none;margin:3em 2em 0 2em;width:auto;}
  .show-wrap .receipt__grid1{margin-top:1.1em;font-size:15px;}
  .show-wrap .receipt__grid1 p{color:#11111f;}
  .show-wrap .receipt__grid2{margin-top:1.1em;font-size:15px;}
  .show-wrap .receipt__grid2 p{text-align: right;}
  .show-wrap .admin{margin:0 5%;}
  .show-wrap .title{margin:300px 2em 0 2em;float:none;width:100%;width:87%;}
  .show-wrap .title h2{font-size:15px;}
  .show-wrap .btn{float:none;width:auto;margin:0 5%;}
  .show-wrap .related{width:100%;margin:0 2%;}
  .show_notice{float:none;width:90%;margin:0 5%;}
  .accordion-item .heading{font-size:12px;}
}

@media screen and (min-width:641px) and (max-width:1199px){
  .container{width:100%;margin-top:50px;}
  .show-wrap .container .go_back{display:block;width:40px;height:40px;opacity:0.1;margin:1em 0 0 1.5em;}
}

/* _categories.html.erb */
.visual .category-pc{}
.visual .category-pc ul{}
.visual .category-pc ul li{display:inline-block;margin-right:10px;text-transform:uppercase;background-color:#f8f8f8;border-radius:20px;padding:7px 15px;}
.visual .category-pc ul li a{font-size:13px;font-weight:500;}
.visual .category-mobile{display:none;}
.cat-common nav.fixed{position:fixed;top:0;left:0;padding:1em;z-index:9999;background:#fff;width:100%;border-bottom:1px solid #ccc;text-align:center;}
.cat-common nav.fixed a{}
.cat-common em{margin-right:3px;}

@media screen and (max-width:640px){
  .visual{margin:0 3%;}
  .visual p{margin-left:10px;}
  .visual h1{margin-left:8px;}
  .visual ul{display:block;margin:0 auto;overflow-x:scroll;white-space:nowrap;overflow-y:hidden;}
  .visual ul li{float:none;display:inline-block;margin-right:10px;line-height:30px;text-transform:uppercase;background-color:#f8f8f8;border-radius:15px;padding:5px 7px;}
  .visual ul li a{font-size:12px;}
  .visual .category-pc{display:none;}
  .visual .category-mobile{display:block;border-bottom:1px solid #ccc;}
  .visual .category-mobile ul.left{float:left;width:80%;}
  .visual .category-mobile ul.right{float:left;width:20%;text-align:center;}
}

@media screen and (min-width:641px) and (max-width:1199px){
  .visual{margin:0 1%;}
  .visual ul{display:block;margin:0 auto;overflow-x:scroll;white-space:nowrap;overflow-y:hidden;}
  .visual ul li{float:none;display:inline-block;margin-right:10px;line-height:30px;text-transform:uppercase;}
  .visual ul li a{font-size:15px;}
  .visual .category-pc{display:none;}
  .visual .category-mobile{display:block;border-bottom:1px solid #ccc;}
  .visual .category-mobile ul.left{float:left;width:80%;}
  .visual .category-mobile ul.right{float:left;width:20%;text-align:center;}
}


/* Index Find Coupon */
.find-coupon{text-align:center;background:#ffea92;border-radius:20px;margin-bottom:20px;}
.find-coupon .couponbox-full{float:left;width:80%;margin:2% 10%;background:rgba(0,0,0,0.2);color:#ffea92;padding:1.2em 2em;border-radius:20px;font-weight:bold;text-align:left;}
.find-coupon .couponbox-full p{font-size:30px;}
.find-coupon .couponbox-left{float:left;width:45%;margin:2.5%;background:rgba(0,0,0,0.2);color:#ffea92;padding:1.2em 2em;border-radius:20px;font-weight:bold;text-align:left;}
.find-coupon .couponbox-left p{font-size:30px;}
.find-coupon .couponbox-left span{display:block;}
.find-coupon .couponbox-left span a{background:#ffea92;color:rgba(0,0,0,0.2);padding:10px 20px;border-radius:10px;}
.find-coupon .couponbox-right{float:left;width:45%;margin:39px 2.5% 2.5% 2.5%;}
.find-coupon .find-keyword{}
.find-coupon .find-keyword input{width:100%;padding:20px;border-radius:20px;border:none;}
.find-coupon .find-keyword input::placeholder{color:#ccc;}
.find-coupon .index-coupon{visibility:hidden;}
.find-coupon .index-coupon label{width:1%;font-size:0.5px;margin:0;}
.find-coupon .find-btn{}
.find-coupon .find-btn .btn-comm{background:#68d391;border-radius:20px;color:#fff;display:block;width:100%;font-size:25px;padding:13px;}
.find-coupon .find-btn button{padding:10px;}
.find-coupon .find-btn a{padding:6px;font-size:14px;}

@media screen and (max-width:640px){
  .search-wrapping .find-coupon{padding:10px 0;}
  .find-coupon{padding:1px 0 20px 0;margin:20px 0;}
  .find-coupon .couponbox-full{width:90%;margin:2% 5%;}
  .find-coupon .couponbox-full p{font-size:22px;}
  .find-coupon .couponbox-left{float:none;width:90%;margin:5%;}
  .find-coupon .couponbox-left p{font-size:22px;}
  .find-coupon .couponbox-left span{display:block;}
  .find-coupon .couponbox-left span a{display:block;width:100%;text-align:center;}
  .find-coupon .couponbox-right{float:none;width:100%;margin:0;} 
  .find-coupon .find-keyword input{width:90%;}
  .find-coupon .find-btn .btn-comm{width:90%;margin:0 5% 0 5%;font-size:20px;}
  .find-coupon .find-btn a{padding:7px;}
}

@media screen and (min-width:641px) and (max-width:1199px){
  .find-coupon{padding:10px 0;margin:20px 0;}
  .find-coupon .couponbox-left p{font-size:19px;}
  .find-coupon .couponbox-right{margin-top:30px;}
  .find-coupon .find-keyword input{width:100%;}
  .find-coupon .find-btn .btn-comm{width:100%;margin:0;}
  .find-coupon .couponbox-left span a{padding:3px 20px;}
}



